/* styles/Login.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272a27;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 50%;
    text-align: center;
    color: white;
    overflow: hidden;
}

.title{
    font-size: 2rem;
    
}

.logo{
    width: 50px;
    height: 50px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    gap: 10px;
    /* background-color: blue; */
    height: 15%;
    padding-right: 20px;
}

.span{
    color: #4eb9e4;
}