/* components/create.module.css */
.createContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    margin: 20px auto;
  }
  
  .inputGroup {
    width: 80%;
    margin-bottom: 1%;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .createContainer button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
  }
  
  .createContainer    button:hover {
    background-color: #005bb5;
  }
  
  .inputGroup select{
    width: 30%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: white;
  }
  
  .subdivstyle {
    /* Para div secundarios */
    width: 99%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: #3a3d3a;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 0px 20px 20px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
  }
  
  .subdivstyle button{
    padding: 15px;
    background-color: #eb5b38;
    color: white;
    border: none;
    margin-left: 5px;
    border-radius: 10px;
    transition: 0.2s
  }
  
  .subdivstyle button:hover{
    padding: 15px;
    background-color: #ee6c4b;
    color: white;
    border: none;
    margin-left: 5px;
    border-radius: 10px;
    transition: 0.2s
  }
