.main {
  width: 99%;
  height: calc(87vh - 140px);
  display: flex;
  flex-direction: column;
  background-color: #E6E4DC;
  margin: 0;
  padding-left: 20px;
  border-radius: 0px 20px 20px 20px;
}

.buttons{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 9px;
  margin-top: auto;
  padding-bottom: 20px;
}
.buttons button {
  border: none;
  background-color: #eb5b38;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

.buttons button:hover {
  background-color: #b85339;
  color: white;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #4f524f;
  width: 50%;
  border-radius: 100px;
  padding: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
}

.pagination button:hover {
  font-size: 1.1rem;
  transition: 0.1s;
}

.pagination button.active {
  font-size: 1.1rem;
  color: #f86b48;
}


.subdivstyle {
  /* Para div secundarios */
  width: 99%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #3a3d3a;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 0px 20px 20px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
}

.inputTextTable input{
  background-color: transparent;
}

/* Para tablas */
.table {
  justify-content: center;
  align-items: start;
  width: 99%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  /* padding-left: 30px; */
  color: black;
}

.table p{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #4f524f;
  padding: 20px;
  border-radius: 30px;
}
.table table {
  width: 98%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
  overflow: hidden;
}

.table table thead {
  background-color: #eb5b38;
  border: solid #eb5b38;
  color: white;
  border-radius: 20px 20px 0px 0px ;
}

.table table thead th {
  padding: 10px;
  border: none;
}

.table table tbody tr {
  background-color: #4f524f !important;
}

.table table tbody tr td {
  padding: 10px;
  border: solid 1px #575c57 !important;
  color:white;
}

.table button {
  background-color: #eb5b38;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  transition: 0.2s;
}

.table button:hover {
  background-color: #cc5132;
  transition: 0.2s;
  color: white;
}

.table button:active {
  background-color: #eb5b38;
  color: white;
}

.table input.readonly{
  background-color: transparent;
  width: 99%;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px;
}

.table input.readonly:in-range{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px;
}

.table input.editable{
  background-color: #eb5b38;
  color: white;
  font-size: 1rem;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.table select.readonly{
  background-color: transparent;
  width: 99%;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px;
}
.table select.editable{
  background-color: #eb5b38;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}