.main{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E6E4DC;
    margin: 0;
    padding-left: 20px;
    border-radius: 0px 20px 20px 20px;
}

.table {
    width: 97%;
    display: flex;
    flex-direction: column;
    background-color: #E6E4DC;
    margin: 0;
    /* padding-left: 30px; */

    margin: 10px;
  }

  .table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #272A2D;
  }

  .table table thead {
    background-color: #272A2D;
    color: white;
  }

  .table table thead th {
    padding: 10px;
    border: 1px solid #272A2D !important;
  }

  .table table tbody tr {
    background-color: #fff !important;
    border: 1px solid #272A2D !important;
  }

  .table table tbody tr td {
    padding: 10px;
    border: 1px solid #272A2D !important;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}


.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 94%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


